.container {
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;

    outline: 1px dashed gray;

    @media only screen and (min-width: 768px) {
        /* width: 768px; */
        padding-left: 20px;
        padding-right: 20px;
    }

    @media only screen and (min-width: 1440px) {
        /* width: 1440px; */
    }
}
