.title {
  margin-bottom: 8px;

  font-size: 22px;
  text-align: center;

  @media only screen and (min-width: 400px) {
    font-size: 32px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 38px;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 40px;
  }

  @media only screen and (min-width: 1440px) {
    font-size: 48px;
  }
}

.subtitle {
  margin-bottom: 32px;

  font-size: 16px;
  text-align: center;

  @media only screen and (min-width: 400px) {
    font-size: 24px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 28px;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 32px;
  }

  @media only screen and (min-width: 1440px) {
    font-size: 36px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  gap: 10px;

  font-family: var(--medium);
  font-size: 14px;

  @media only screen and (min-width: 400px) {
    gap: 12px;
    font-size: 20px;
  }

  @media only screen and (min-width: 768px) {
    gap: 16px;
    font-size: 24px;
  }

  & li:hover {
    color: #c01112;
    text-decoration: underline;
  }
}
