.galleryItem {
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: 480px) {
    display: block;
    width: 100% !important;
    height: auto !important;
  }
}

.galleryItem img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.galleryItem:hover img {
  transform: scale(1.1);
}

.imageContainer {
  max-height: 100vh;
}

.scrollTop {
  position: fixed;
  top: 20px;
  right: 10px;
  cursor: pointer;
  z-index: 1000;
}

.scrollBottom {
  position: fixed;
  top: 200px;
  right: 10px;
  z-index: 1000;
}

.scrollBottom :global(.scrollArrow) {
  top: auto !important;
  bottom: 20px !important;
}

.scrollBottom :global(.upArrow),
.scrollBottom :global(.downArrow) {
  top: auto !important;
  bottom: 20px !important;
}
